




.malayalam-warnig-text{
    font-family: 'Gayathri', sans-serif;
    padding: 10px 20px;
    font-weight: bold;
}
.about-page-malayalam-text-row{
    background-color: rgb(255, 209, 209);
    border-radius: 10px;
}