




.table-bor{
    padding-top: 4%;
}
.tab{
    text-align: center;
    align-items: center;
}
.tab-heding{
    font-size: 12px;
}
.tab-contant{
    font-size: 10px;
}
.fw-bold{
    text-transform: uppercase;
}
.profile-img{
    width: 20px;
}